html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  
}
.title {
  display: flex;
  margin: 3vh;
  justify-content: center;
}
.allContainers {
  width: 100%;
  height: 100%;
  top:0;
}
.raceContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5vh;
  margin: 5vh;
  max-width: 100%;
  height: 100%;
}
.raceCard {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid white 2px;
  height: 41rem;
  word-wrap: break-word;
}
.raceCard img {
  object-fit: fill;
  width: 32rem;
  height: 21rem;
  max-height: none;
}
.mapImg {
  width: 100%;
  height: 10%;
}
button.leaderboard{
  background-color: white;
  color: black;
}
button.backButton {
  position: fixed;
  z-index: 2;
  color: black;
  top: 3vh;
  left: 3vh;
  width: 5vh;
  height: 5vh;
  border: 0;
  background-color: transparent;
  text-align: center;
}

img.backButtonImg {
  object-fit: cover;
  place-items: center;
  border-radius: 1vh;
  border: solid white 0.1rem;
  width: 5vh;
  height: 5vh;
}

.leaderboardContainer {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  z-index: 1;
  position: absolute;
  top: 0;
  background: url(../public/background.jpeg) no-repeat fixed;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 3%;
  display: none;
}
.leaderboardCard {
  display: flex;
  border: solid white 0.1rem;
  word-wrap: break-word;
  height: 10vh;
  width: 90vh;
  object-fit: contain;
  position: relative;
  text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black,
    -1px -1px 1px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.leaderboardDisplayName {
  display: block;
  margin-left: 13%;
  font-size: 3vh;
  place-items: center;
}

.leaderboardScore {
  display: block;
  margin-left: auto;
  margin-right: 24vh;
  font-size: 3vh;
  place-items: center;
}

img.avatar {
  position: absolute;
  max-height: 100%;
  object-fit: contain;
  z-index: -1;
  border: white 1px;
  background-color: white;
}

img.banner {
  position: absolute;
  max-height: 100%;
  object-fit: contain;
  right: 0;
  z-index: -1;
}
button.profile {
  cursor: pointer;
  color:black;
  padding: 0;
  border: none;
  background: none;
  place-items: center end;
  margin-right: 1vh;
}
.profile img {
  place-items: end;
  border: none;
  width: 6vh;
  object-fit: contain;
  margin-left: auto;
}

.ID {
  display: none;
}

.profileID {
  display: none;
}

.profile {
  border: 0;
  background-color: transparent;
}

.playerContainer {
  top: 0;
  display: block;
  justify-content: center;
  z-index: 2;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black,
    -1px -1px 1px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
  background-size: cover;
  display: none;
  position: fixed;
  background-color: rgba(32, 32, 32, 0.5);
}

.playerCard {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 60%;
  z-index: inherit;
  border-radius: 1rem;
  border: solid #0180CA 0.5rem;
  gap: 10vh;
  background: url(../public/background.jpeg) no-repeat fixed;
  position: relative;
}

.playerCard img.avatar {
  width: 10rem;
  background: #0180CA;
  border: solid #0180CA 0.5rem;
  border-radius: 0.1rem;
  z-index: 5;
}
.playerCard img.banner{
  width: 95%;
  z-index: 4;
  border: solid #0180CA 0.5rem;
}

.playerText {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  font-size: 1.19rem;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 7.7rem;
}

.playerInfo {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 70%;
  margin-top: -4rem;
}
.playerInfo p{
  margin: 0;
}
button {
  cursor: pointer;
  color: black;
  background-color: white;
}
